@import '~antd/lib/style/themes/default.less';

.menu {
  padding: 25px;
  background-color: @primary-color;
  border-radius: @border-radius-base;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      position: relative;
      padding-left: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        height: 0;
        width: 3px;
        background-color: white;
        border-radius: 50px;
        transition: .3s all ease-in-out;
      }

      &:last-child {
        border: 0;
      }

      .left {
        flex: 1;
        padding: 15px 0;
        color: white;
        line-height: 16px;
      }

      .right {
        padding-left: 10px;
        font-size: 12px;
        color: white;
      }

      &:hover {
        &:after {
          top: 20%;
          height: 60%;
          opacity: 0.5;
        }
      }

      &.active {
        &:after {
          top: 20%;
          height: 60%;
        }

        &:hover {
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}